@media(max-width:768px){
  .top-header{padding:12px 20px;flex-direction:column;}
  .service-grid{grid-template-columns:1fr;}
}
/* About section mobile layout */
@media(max-width:768px){
  .about-wrapper{
    flex-direction:column;
    text-align:center;
  }

  .about-text{
    text-align:center;
  }
}
@media(max-width:768px){
  .gallery-grid{
    grid-template-columns:1fr 1fr;
  }
}
